# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.sdf
*.opensdf
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
.vs
.cdo

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ====== #
# GALEON #
# ====== #
# ROOT DIRECTORY
/*.txt

# DEPENDENCIES FOLDER
/dependencies/**/build/

/dependencies/bin/*/*
!/dependencies/bin/*/nvTools*.dll
!/dependencies/bin/*/PhysX*.dll
!/dependencies/bin/*/fmod*.dll
!/dependencies/bin/*/fsbank*.dll

/dependencies/include/*
!/dependencies/include/PhysX/
!/dependencies/include/FMOD/

/dependencies/lib/*/*
!/dependencies/lib/*/PhysX*.lib
!/dependencies/lib/*/PxTask*.lib
!/dependencies/lib/*/fmod*.lib
!/dependencies/lib/*/fsbank*.lib

/dependencies/luabind/bin/

/dependencies/luabind/bin/

/dependencies/VisualLeakDetector/src/bin/
/dependencies/VisualLeakDetector/src/obj/

# DOC FOLDER
/Doc/*
!/Doc/doxygenFooter.html

# EXES FOLDER
/Exes/*
!/Exes/media/
!/Exes/resources.cfg
!/Exes/*.lua

# PROJECTS FOLDER
/Projects/**/Debug/
/Projects/**/Release/
/Projects/**/*.log

# ===== #
# CLion #
# ===== #
.idea
build